<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="css/profile.css" />
    </head>
    <body>
        <% if(user_type !== "customer") { %> 
            <div class="header" style="background-color: #7465A0">
        <% } else { %>
            <div class="header">
        <% } %>
            <nav>
                <div class="logo-container">
                    <img src="asset/logo.png" class="logo-img">
                </div>
                <div class="links-container">
                    <a href="/home" class="nav-link">Home</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="/about" class="nav-link">About</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="/stores" class="nav-link">Stores</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="/profile" class="nav-link">Profile</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="#" id="logout_btn" class="nav-link">Log out</a>
                </div>
            </nav>
        </div>

        <div class="content">
            <div class="table-desc">
                <h4>Profile</h4>
                <div id='msg_container' style="display:none;"></div>
            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <td><form><input type="text" name="name" id="name_in" value="<%= name %>"></form></td>
                    <td><a href="#" id="name_edit" class="editbtn">Edit</a></td>
                </tr>
                <% if(user_type === "customer") { %>
                    <tr>
                        <th>CustID</th> <!--Customers only-->
                        <td><%= CustID %></td> <!--Not editable-->
                    </tr>
                    <tr>
                        <th>Email</th> <!--Customers only-->
                        <td><form><input id="email_in" type="text" name="email" value="<%= email %>"></form></td>
                        <td><a href="" id="email_edit" class="editbtn">Edit</a></td>
                    </tr>   
                <% } else { %>
                    <tr>
                        <th>EmpID</th> <!--Employees & Managers only-->
                        <td><%= EmpID %></td> <!--Not editable-->
                    </tr>   
                    <tr>
                        <th>Position</th> <!--Employees and Managers only-->
                        <td><%= Position %></td> <!--Not editable-->
                    </tr>          
                    <tr>
                        <th>Department</th> <!--Employees and Managers only-->
                        <td><%= Department %></td> <!--Not editable-->
                    </tr>
                <% } %>
            </table>
        </div>

        <div class="footer">
            <nav>
                <div class="logo-container">
                    <img src="asset/logo.png" class="logo-img">
                </div>
            </nav>
        </div>
        <script type="text/javascript" src="js/general.js"></script>
        <script type="text/javascript" src="js/profile.js"></script>
    </body>
</html>