<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Store Search</title>
        <link rel="stylesheet" type="text/css" href="css/stores.css" />
    </head>
    <body>
        <% if(user_type !== "customer") { %> 
            <div class="header" style="background-color: #7465A0">
        <% } else { %>
            <div class="header">
        <% } %>
            <nav>
                <div class="logo-container">
                    <img src="asset/logo.png" class="logo-img">
                </div>
                <div class="links-container">
                    <a href="/home" class="nav-link">Home</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="/about" class="nav-link">About</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="/stores" class="nav-link">Stores</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="/profile" class="nav-link">Profile</a>
                    <div class='link-border'>&nbsp;</div>
                    <a href="#" id="logout_btn" class="nav-link">Log out</a>
                </div>
            </nav>
        </div>

        <div class="content">
            <div class="table-desc">
                <h4>Store Search</h4>
                <div id='msg_container' style="display:none;"></div>
            </div>
            <div class="search-desc">
                <form>
                    <input type="text" id="state_in" name="store_state" value="" placeholder="Search by State">
                    <input type="text" id="name_in" name="store_name" value="" placeholder="Search by Store Name">
                    <a href="#" id="clear" class="editbtn clear">Clear</a>
                    <a href="#" id="search" class="editbtn">Search</a>
                </form>
                <br>
            </div>
            <table id="original_container">
                <tr>
                    <th>Store #</th>
                    <th>Store Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Rating</th>
                    <th>Year Founded</th>
                </tr>
                <% for(let store of stores) { %>
                    <tr>
                        <td><%= store.StoreID %></td>
                        <td><%= store.StoreName %></td>
                        <td><%= store.City %></td>
                        <td><%= store.State %></td>
                        <td><%= store.Rating %></td>
                        <td><%= store.YearFounded %></td>
                    </tr>
                <% } %>  
            </table>

            <table id="search_container" style="display: none;">
                <tr>
                    <th>Store #</th>
                    <th>Store Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Rating</th>
                    <th>Year Founded</th>
                </tr>
                <tr class="copy">
                </tr>
            </table>
        </div>

        <div class="footer">
            <nav>
                <div class="logo-container">
                    <img src="asset/logo.png" class="logo-img">
                </div>
            </nav>
        </div>
        <script type="text/javascript" src="js/general.js"></script>
        <script type="text/javascript" src="js/stores.js"></script>
    </body>
</html>